<br/>
<mat-card style="width:20%; float:left;">
  <button mat-raised-button (click)="create()">CREATE A ROOM</button>
  <br/>
  <mat-form-field>
    <input matInput
    [(ngModel)]="createRoomNameField"
    placeholder="Room name"></mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput
    [(ngModel)]="createRoomUserNameField"
    placeholder="Your Username in this Room">
  </mat-form-field>
  <br/>
  <button mat-raised-button (click)="join()">JOIN A ROOM</button>
  <br/>
  <mat-form-field>
    <input matInput
    [(ngModel)]="joinRoomIDField"
    placeholder="Room ID Hash">
  </mat-form-field>
  <br/>
  <mat-form-field>
      <input matInput
      [(ngModel)]="joinRoomUserNameField"
      placeholder="Your Username in this Room">
  </mat-form-field>

  <button mat-raised-button (click)="changeRoomSettings()">CHANGE ROOM SETTINGS</button>
  <br/>
  <mat-form-field>
      <input matInput
      [(ngModel)]="changeRoomSettingsIDField"
      placeholder="Room ID">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput
    [(ngModel)]="changeRoomAddBlacklistField"
    placeholder="Blacklist youtube.com , ... , ...">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput
    [(ngModel)]="changeRoomRemoveBlacklistField"
    placeholder="Whitelist facebook.com , ... , ...">
  </mat-form-field>
</mat-card>

<!-- TABLE -->

<mat-card style="width:70%; float: left;">
<mat-accordion style="width: 100%" *ngFor="let room of rooms">
  <mat-expansion-panel style="width: 100%" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{room.name}}
      </mat-panel-title>
      <mat-panel-description>
        Room Description
      </mat-panel-description>
    </mat-expansion-panel-header>

    Blacklist: {{room.blacklist}} <br/>
    Members: {{room.member_ids}} <br/>

    <app-charts
      chartType="bar"
      chartTitle="Member To Score"
      [chartData]="room.scores"
      [xAxis]="room.member_ids">
    </app-charts>

  </mat-expansion-panel>
</mat-accordion>
<mat-card>
