
<h2>My Slacker Group</h2>
<ul class="slackers">
  <li *ngFor="let slacker of slackers"
  [class.selected]="slacker === selectedSlacker"
  (click)="onSelect(slacker)">
    <span class="badge">{{slacker.id}}</span> {{slacker.name}}
  </li>
</ul>
<!--*ngIf is an if statement for selected hero when it exists//-->
<div  *ngIf="selectedHero">
  <h2>{{ selectedSlacker.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedSlacker.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedSlacker.name" placeholder="name">
    </label>
  </div>
</div>

<!-- Example code for displaying 1 slacker

<h2>{{ slacker1.name | uppercase }} Details</h2>
<div><span>id: </span>{{slacker1.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="slacker1.name" placeholder="name">
  </label>
</div>
//-->
