<br/>
<mat-card style="width: 50%;">
  <mat-card-header><h2>My Slacker Page</h2></mat-card-header>

  <!--<ul class="slackers">-->
    <!--<li *ngFor="let slacker of slackers"
    [class.selected]="slacker === selectedSlacker"
    (click)="onSelect(slacker)">-->
    <!--<li *ngFor="let slacker of slackers">
      <a routerLink="/detail/{{slacker.id}}">
        <span class="badge">{{slacker.id}}</span> {{slacker.name}}
      </a>
    </li>
  </ul>-->

  <!--
  <mat-card-content>
    <div>
      <mat-nav-list class="slackers">
        <mat-list-item *ngFor="let slacker of slackers">
          <a matLine routerLink="/detail/{{slacker.id}}">
            <span class="badge">{{slacker.id}}</span> {{slacker.name}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>


    <app-slacker-detail [slacker]="selectedSlacker"></app-slacker-detail>
</mat-card-content>
</mat-card>-->
<!--<div *ngIf="selectedSlacker">

  <h2>{{ selectedSlacker.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedSlacker.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedSlacker.name" placeholder="name">
    </label>
  </div>

</div> //-->

<!-- Example code for displaying 1 slacker

<h2>{{ slacker1.name | uppercase }} Details</h2>
<div><span>id: </span>{{slacker1.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="slacker1.name" placeholder="name">
  </label>
</div>
//-->
